* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: white;
  background: #c9c0c0;
  margin: 0;
  padding-top: 90px; 
}
h3 {
  color: white;
  text-shadow: 2px 2px 8px  rgba(228, 126, 126, 0.5);
  font-size: 48px;
}

/* Header */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #18177c;
  padding: 15px 40px;
  z-index: 10;
}

header img {
  height: 50px;
}
/* Nav */
nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

nav ul li {
  position: relative;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 12px;
  transition: 0.3s;
}

nav ul li a:hover {
  background: #2a27cc;
  border-radius: 5px;
}


nav ul li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #18177c;
  padding: 10px 0;
  border-radius: 5px;
}

nav ul li:hover ul {
  display: block;
}

nav ul li ul li a {
  display: block;
}
/*Fotito + conectando destinos*/
.hero {
  position: relative;
  height: 100vh; 
  overflow: hidden;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  text-shadow: 2px 2px 8px black;
}

.hero-text h1 {
  font-size: 48px;
}

.hero-text h2 {
  font-size: 32px;
  margin: 15px 0;
}

.hero-text button {
  background: red;
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.hero-text button:hover {
  background: darkred;
}


/* Galeria perris */
.galeria {
  padding: 60px 20px;
  text-align: center;
}

.galeria h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

.galeria .imagenes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.galeria .imagen {
  flex: 1 1 250px;
  max-width: 300px;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

.galeria .imagen img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.galeria .imagen:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(255, 0, 0, 0.5);
}

/* Footer */
footer {
  background: #18177c;
  text-align: center;
  padding: 20px;
  font-size: 14px;
}

